{% extends 'user/layout/master.html' %}
{% block main %}
<div class="container">
	<div class="row my-5 d-flex justify-content-sm-center">
		<div class="d-flex justify-content-justify-center">
			<div class="card d-flex justify-content-center">
				<div class="card-header header-secondary">
					<div class="card-title">
<h1 class="h3">Forgot your password?</h1></div>
</div>
<div class="card-body">
	<div class="h5">
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
</div>
<div class="d-flex justify-content-center">
	<form method="POST" class="form">
    {% csrf_token %}
    <table class="table table-bordered d-flex justify-content-center">
    	<tr>
    		<th>
    <label class="label">{{form.email.label}}</label></th>
    <td>
    {{ form.email }}</td></tr>
</table>
<div class="modal-footer d-flex justify-content-center">
    <input type="submit" class="btn btn-outline-secondary" value="Send me instructions!">
  </div>
  </form>
</div>
  
</div>
</div>
</div>
</div>
</div>
{% endblock %}