{% extends 'admin1/layout/master.html' %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      `<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary">Add Discount</button>
    <div class="modal fade" id="modal-primary">
        <div class="modal-dialog">
          <div class="modal-content bg-primary">
            <div class="modal-header">
              <h4 class="modal-title">Add Discount Successfully</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
               <form action="/admin1/discount" method="POST">
               {% csrf_token %}
                <label>Discount Name:</label>
                <input type="text" name="discount_name" class="form-control w-50"><br>
                <label>Amount:</label>
                <input type="number" name="amount" class="form-control w-50"><br>
                <label>Validate Date:</label>
                <input type="date" name="validate_date" class="form-control w-50"><br>
                 <br>          
              
            </div>
            <div class="modal-footer justify-content-between">
              <input type="Submit" name="Submit" value="Submit" class="btn btn-success w-50">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
            </div>
             </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% if discount_show %}
<br>
    <div class="container-fluid">
        <div class="row">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DiscountTable</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>ID</th>
                      <th>Discount_Name</th>
                      <th>Amount</th>
                      <th>Validate_date</th>
                      <th>Action</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in discount_show %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{x.discount_name}}</td>
                      <td>{{x.amount}}</td>
                      <td>{{x.validate_date}}</td>
                      
                      <td><a href="/admin1/discount_edit/{{x.id}}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                      <a href="/admin1/discount_delete/{{x.id}}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                      <a href="/admin1/discount_show1/{{x.id}}" class="btn btn-warning"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                   {% if discount_show.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{discount_show.previous_page_number}}">Previous</a></li>
                  {% endif %}

                  {% for x in discount_show.paginator.page_range %}

                  {% if discount_show.number == x %}
                  <li class="page-item active"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                  {% endif %}

                  {% endfor %}
                  
                  {% if discount_show.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{discounty_show.next_page_number}}">Next</a></li>
                  {% endif %}
                
                </ul>
              </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

{% endif %}

</div>

{% endblock %}