<html>
<div class="container">
	<div class="row my-5 d-flex justify-content-sm-center">
		<div class="d-flex justify-content-justify-center">
			<div class="card d-flex justify-content-center">
				<div class="card-header header-secondary">
					<div class="card-title">


						{% if validlink %}

						<h1 classs="h3">Set a new password!</h1>
					</div>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-center">
						<form method="POST" class="form">
  							{% csrf_token %}
  							
  							
  							<table class="table table-bordered d-flex justify-content-center">
    							<tr>
    								<th>
    									<label class="label">{{form.new_password1.label}}</label>
    								</th>
    								<td>
    									{{ form.new_password1 }}
    								</td>
    							</tr>
    							<tr>
    								<th>
    									<label class="label">{{form.new_password2.label}}</label>
    								</th>
    								<td>
    									{{ form.new_password2 }}
    								</td>
    							</tr>
							</table>
						
						<div class="modal-footer d-flex justify-content-center">
    						<input type="submit" class="btn btn-outline-secondary" value="Change my password">
  						</div>
  						{{form.errors}}
  					</form>
				</div>
  
			</div>
		</div>
	</div>
</div>
{% else %}

<p class="h3">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}



</div>
</html>