<html>
<div class="container">
	<div class="row my-5 d-flex justify-content-sm-center">
		<div class="d-flex justify-content-justify-center">
			<div class="card d-flex justify-content-center">
				<div class="card-header header-secondary">
					<div class="card-title">

						<h1 class="h3">Check your inbox.</h1>
					</div>
				</div>
				<div class="card-body">
					<div class="h5">
  						<p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  

</html>