<html>
<div class="container">
	<div class="row my-5 d-flex justify-content-sm-center">
		<div class="d-flex justify-content-justify-center">
			<div class="card d-flex justify-content-center">
				<div class="card-header header-secondary">
					<div class="card-title">



						<h1>Password reset complete</h1>
					</div>
					</div>
					<div class="card-body">
					<div class="h5">
  				
					<p>Your new password has been set. You can log in now on the.<br> 
						<a class="btn btn-dark" href="{% url 'user-login' %}">log in page
						</a>
					</p>
					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  

</html>