{% extends 'admin1/layout/master.html' %}
{% block main %}
{% if payment_show %}
{% for x in payment_show %}
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
<table class="table table-bordered">
<tr>
  <th>USER ID:</th>
  <td>{{x.user_id.id}}</td>

</tr>
<tr>
  <th>Order ID:</th>
  <td>{{x.o_id.order_id}}</td>
</tr>
<tr>
  <th>Payment :</th>
  <td>{{x.o_id.o_amount}}</td>
</tr>
<tr>
  <th>Payment Status:</th>
  <td>{{x.pay_status}}</td>
</tr>
  <tr>
  <th>Payment Mode:</th>
  <td>{{x.pay_mode}}</td>
</tr>
</table>
</div>
</div>
</div>
{% endfor %}
{% else %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
 <div class="card-body">
                <table class="table table-bordered">
                 
                  <thead>                  
                    <tr>

                      <th>ID</th>
                      <th>Order id</th>
                      <th>Payment</th>
                      <th>Payment status </th>
                      <th>Payment Mode</th>
                      <th>Time</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in all_payment %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{x.o_id.order_id}}</td>
                      <td>{{x.o_id.o_amount}}</td>
                      <td>{{x.pay_status}}</td>
                      <td>{{x.pay_mode}}</td>
                      <td>{{x.created_at}}</td>
                      <td><a href="/admin1/payment_show/{{x.user_id.id}}" class="btn btn-warning"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>      
    </div>
  </div>
</div>
{% endif %}
{% endblock %}